---
import Hero from '@/components/sections/Hero.astro';
import Education from '@/components/sections/Education.astro';
import Experience from '@/components/sections/Experience.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout>
	<main class="blur-fade-in">
		<Hero />
		<Education />
		<Experience />
	</main>
</Layout>

